/* TODO for orientation test */
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/* TODO for orientation test */
.rotate {
    animation: rotate 0.1s linear infinite;
}

@font-face {
    font-family: 'SFMono';
    src: url('../fonts/SFMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

* {
    touch-action: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html,
body {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: min(2.72vh, 4.15vw);
    overflow: hidden;
}

#version {
    position: absolute;
    color: #FFF;
    font-family: 'SFMono';
    font-size: 0.5rem;
}

#calc {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 23.2rem;
    height: 100%;
    margin: auto;
}

[id="0"] {
    flex-grow: 1;
    padding-right: 5.8rem;
}

[id="+-"] {
    letter-spacing: -0.5rem;
}

div#\+-:after {
    content: "1";
    visibility: hidden;
}

#display {
    color: #FFF;
    font-family: 'SFProDisplay';
    font-weight: 300;
    text-align: right;
    line-height: 7rem;
    width: 100%;
    padding: 0 1.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.displayS1 {
    font-size: 5.3rem;
}

.displayS2 {
    font-size: 4rem;
}

.displayS3 {
    font-size: 3rem;
}

.displayS4 {
    font-size: 2.5rem;
}

.displayS5 {
    font-size: 2rem;
}

.displayS6 {
    font-size: 1.7rem;
}

.displayS7 {
    font-size: 1.4rem;
}

.displayS8 {
    font-size: 1.2rem;
}

.displayS9 {
    font-size: 1rem;
}

.calcOffset {
    height: 4rem;
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #AAA;
    color: #000;
    font-family: 'SFProDisplay';
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin: 0.4rem;
    line-height: 5rem;
}

.operation {
    line-height: 4.6rem;
    font-size: 2.4rem;
    color: #FFF;
    background-color: #FE9E09;
}

.digit {
    font-family: 'SFProDisplay';
    font-weight: normal;
    font-size: 2.3rem;
    color: #FFF;
    background-color: #333;
}

.pushOff {
    transition: background-color 0.5s linear;
}

.pushDigit {
    background-color: #777;
    transition: 0.1s linear;
}

.pushUtil {
    background-color: #CCC;
    transition: 0.1s linear;
}

.pushOperation {
    background-color: #FFCBAA;
    transition: 0.1s linear;
}

.pushedOperation {
    background-color: #FFF;
    color: #FE9E09;
}